<!-- Include our collection of contacts-->
@model IEnumerable<Contact>
@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Contacts</h1>
</div>

<!--Contact preview section-->
<div class="main-container">
    <div class="container">
        <a asp-action="Add" asp-controller="Contact" class="btn btn-primary" role="button">Add Contact</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">First name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
            <tr>
                <td><a asp-action="Details" asp-controller="Contact" asp-route-slug="@contact.Slug" asp-route-id="@contact.ContactId">@contact.FirstName</a></td>
                <td><a asp-action="Details" asp-controller="Contact" asp-route-slug="@contact.Slug" asp-route-id="@contact.ContactId">@contact.LastName</a></td>
                <td>@contact.Phone</td>
                <td>@contact.Email</td>
                <td>@contact.Category.Name</td>
            </tr>
            
            }

        </tbody>
    </table>
</div><!--End main-container-->
